NODE_ENV=development

# Database configuration
DATABASE_URL="postgresql://{your_username}:{your_password}@localhost:5432/users?schema=public"

# Kafka broker configuration
KAFKA_BROKER="localhost:9092"

# JWT secret for signing tokens
JWT_SECRET=enter_your_jwt_secret_here

# OpenTelemetry configuration
OTEL_SERVICE_NAME=user-service
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:14318/v1/traces

# Event Store configuration
EVENTSTORE_URL=esdb://localhost:2113?tls=false

